In [3]:
import pandas as pd
from datetime import datetime
import random as rd

In [2]:
# df2 = pd.read_csv('aac_shelter_outcomes.csv').head()

df = pd.read_csv('aac_shelter_cat_outcome_eng.csv')
df = df[df['name'].notnull()]
df['date_of_birth'] = ((datetime.now() - pd.to_datetime(df['date_of_birth'])).dt.days/365).astype(int)
l = ['name','animal_type','breed','date_of_birth','sex','Spay/Neuter','color1']

for i in df[l].head().values:
    print(list(i))

['Lucy', 'Cat', 'domestic shorthair', 6, 'Female', 'No', 'blue ']
['*Frida', 'Cat', 'domestic shorthair', 6, 'Female', 'Yes', 'white']
['Stella Luna', 'Cat', 'domestic mediumhair', 7, 'Female', 'Yes', 'black']
['Elsa', 'Cat', 'domestic shorthair', 6, 'Female', 'Yes', 'brown']
['Chester', 'Cat', 'domestic shorthair', 6, 'Male', 'Yes', 'black']

In [26]:
def fecha():    
    d = str(rd.randint(1,28))
    m = str(rd.randint(1,12))
    a = str(rd.randint(2018,2020))
    
    if len(d)==1:
        d = "0"+d
    if len(m)==1:
        m="0"+m
    return "-".join([a,m,d])


dueños = pd.read_pickle('personas').cedula.tolist()
datos = []

for i in range(30):
    dueño = rd.choice(dueños)
    datos.append([i+1, dueño, fecha()])

adopciones = pd.DataFrame(datos, columns = ['animal','duenio','fecha'])
adopciones.to_pickle('adopciones')
adopciones.head()

   animal      duenio       fecha
0       1  0790077501  2020-05-16
1       2  0215456171  2020-01-26
2       3  0796097743  2018-10-10
3       4  0247830530  2018-03-20
4       5  0701961363  2018-09-10

In [28]:
dueños = pd.read_pickle('personas').cedula.tolist()
motivos = ['Me voy del país','Ya no me puedo mantener','No me permiten tener mascotas en mi nuevo departamento',
           'No puedo mantenerlo','Estoy sin trabajo','Mi mamá no lo quiere','Mi papá no lo quiere en la casa',
          'Lo encontré en la calle','Lo dejaron tirado en ESPOL']
datos = []

for i in range(31,70):
    dueño = rd.choice(dueños)
    datos.append([i+1, dueño, rd.choice(motivos), fecha()])

formularios = pd.DataFrame(datos, columns = ['animal','duenio','motivo','fecha'])
formularios.to_pickle('formulario_adopciones')
formularios.head()

,animal,duenio,motivo,fecha
0,32,0876711369,Lo encontré en la calle,2020-09-23
1,33,0104107312,Mi mamá no lo quiere,2019-12-23
2,34,0796097743,No puedo mantenerlo,2019-05-15
3,35,0950946050,Mi papá no lo quiere en la casa,2020-08-02
4,36,0802558174,No me permiten tener mascotas en mi nuevo depa...,2018-08-26